<?xml version="1.0" encoding="utf-8"?>
 <!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
      Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
      For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
 <robot name="PiPlus_S_12L8A0G2H0W_Soccer_New">
  <mujoco>
    <compiler meshdir="../meshes/" balanceinertia="true" discardvisual="false" inertiafromgeom="false" fusestatic="false" />
  </mujoco>

   <link name="base_link">
     <inertial>
       <origin xyz="-0.00014435 -1.66e-06 -0.04034123" rpy="0 0 0" />
       <mass value="0.98610884" />
       <inertia ixx="0.0012749" ixy="-2.85e-06" ixz="3.57e-06" iyy="0.00075879" iyz="0.0" izz="0.00116235" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/base_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 -0.0369" rpy="0 0 0"/>
       <geometry>
         <box size="0.06 0.08 0.06"/>
       </geometry>
     </collision> 
   </link>
   <link name="torso_link">
     <inertial>
       <origin xyz="0.0 0.0 0.09532909" rpy="0 0 0" />
       <mass value="3.16987085" />
       <inertia ixx="0.01839474" ixy="0.0" ixz="0.0" iyy="0.01617720" iyz="0.0" izz="0.01662571" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/torso_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/torso_link_simplify.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="torso_joint" type="fixed">
     <origin xyz="0 0 0" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="torso_link" />
     <axis xyz="0 0 0" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_shoulder_pitch_link">
     <inertial>
       <origin xyz="-0.0023165 -0.01720478 0.00020825" rpy="0 0 0" />
       <mass value="0.13935188" />
       <inertia ixx="7.568e-05" ixy="-3.2e-06" ixz="5e-08" iyy="0.00012196" iyz="-6.5e-07" izz="0.00014519" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_shoulder_pitch_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_shoulder_pitch_link_simplify.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="r_shoulder_pitch_joint" type="revolute">
     <origin xyz="0 -0.1084 0.117" rpy="0 0 0" />
     <parent link="torso_link" />
     <child link="r_shoulder_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-4.18" upper="1.04" effort="10" velocity="15.91"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_shoulder_roll_link">
     <inertial>
       <origin xyz="-0.00164862 -0.00020989 -0.02488799" rpy="0 0 0" />
       <mass value="0.55615019" />
       <inertia ixx="0.00051303" ixy="-2e-07" ixz="1.879e-05" iyy="0.00052161" iyz="-2.18e-06" izz="0.0001534" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_shoulder_roll_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_shoulder_roll_link.STL" />
       </geometry>
     </collision>     
   </link>
   <joint name="r_shoulder_roll_joint" type="revolute">
     <origin xyz="0 -0.038 0" rpy="0 0 0" />
     <parent link="r_shoulder_pitch_link" />
     <child link="r_shoulder_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-3.34" upper="0.13" effort="10" velocity="15.91"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_upper_arm_link">
     <inertial>
       <origin xyz="3.107e-05 -0.00138646 -0.01213494" rpy="0 0 0" />
       <mass value="0.15318326" />
       <inertia ixx="0.00017707" ixy="-2.7e-07" ixz="1.4e-07" iyy="0.00011359" iyz="-7.27e-06" izz="0.00014214" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_upper_arm_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_upper_arm_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="r_upper_arm_joint" type="revolute">
     <origin xyz="0 0 -0.0724" rpy="0 0 0" />
     <parent link="r_shoulder_roll_link" />
     <child link="r_upper_arm_link" />
     <axis xyz="0 0 1" />
     <limit lower="-2.16" upper="2.16" effort="10" velocity="15.91"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_elbow_link">
     <inertial>
       <origin xyz="5.69e-05 -0.00308341 -0.00211549" rpy="0 0 0" />
       <mass value="0.31317542" />
       <inertia ixx="0.00010775" ixy="5e-08" ixz="-3e-07" iyy="9.336e-05" iyz="-4.5e-07" izz="9.783e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_elbow_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_elbow_link.STL" />
       </geometry>
     </collision>     
   </link>
   <joint name="r_elbow_joint" type="revolute">
     <origin xyz="0 0 -0.038" rpy="0 0 0" />
     <parent link="r_upper_arm_link" />
     <child link="r_elbow_link" />
     <axis xyz="0 1 0" />
     <limit lower="-2" upper="2" effort="10" velocity="15.91"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_wrist_link">
     <inertial>
       <origin xyz="3.045000e-05 -4.830000e-06 -0.04078253" rpy="0 0 0" />
       <mass value="0.07518056" />
       <inertia ixx="1.180900e-04" ixy="0.0" ixz="1.200000e-07" iyy="1.182300e-04" iyz="-2.000000e-08" izz="1.105000e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_wrist_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_wrist_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="r_wrist_joint" type="fixed">
     <origin xyz="0 0 -0.029" rpy="0 0 0" />
     <parent link="r_elbow_link" />
     <child link="r_wrist_link" />
     <axis xyz="0 0 0" />
     <limit lower="0" upper="0" effort="0" velocity="0"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_shoulder_pitch_link">
     <inertial>
       <origin xyz="-0.00231650 0.01720478 2.082500e-04" rpy="0 0 0" />
       <mass value="0.13935188" />
       <inertia ixx="7.568000e-05" ixy="3.200000e-06" ixz="5.000000e-08" iyy="1.219600e-04" iyz="6.500000e-07" izz="1.451900e-04" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_shoulder_pitch_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_shoulder_pitch_link_simplify.STL" />
       </geometry>
     </collision>     
   </link>
   <joint name="l_shoulder_pitch_joint" type="revolute">
     <origin xyz="0 0.1084 0.11698" rpy="0 0 0" />
     <parent link="torso_link" />
     <child link="l_shoulder_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-4.18" upper="1.04" effort="10" velocity="15.91"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_shoulder_roll_link">
     <inertial>
       <origin xyz="-0.00164862 2.098900e-04 -0.02488799" rpy="0 0 0" />
       <mass value="0.55615019" />
       <inertia ixx="5.130300e-04" ixy="2.000000e-07" ixz="1.879000e-05" iyy="5.216100e-04" iyz="2.180000e-06" izz="1.534000e-04" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_shoulder_roll_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_shoulder_roll_link.STL" />
       </geometry>
     </collision>     
   </link>
   <joint name="l_shoulder_roll_joint" type="revolute">
     <origin xyz="0 0.038 0" rpy="0 0 0" />
     <parent link="l_shoulder_pitch_link" />
     <child link="l_shoulder_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-0.13" upper="3.34" effort="10" velocity="15.91"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_upper_arm_link">
     <inertial>
       <origin xyz="3.107000e-05 0.00138646 -0.01213494" rpy="0 0 0" />
       <mass value="0.15318326" />
       <inertia ixx="1.770700e-04" ixy="2.700000e-07" ixz="1.400000e-07" iyy="1.135900e-04" iyz="7.270000e-06" izz="1.421400e-04" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_upper_arm_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_upper_arm_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="l_upper_arm_joint" type="revolute">
     <origin xyz="0 0 -0.0724" rpy="0 0 0" />
     <parent link="l_shoulder_roll_link" />
     <child link="l_upper_arm_link" />
     <axis xyz="0 0 1" />
     <limit lower="-2.16" upper="2.16" effort="10" velocity="15.91"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_elbow_link">
     <inertial>
       <origin xyz="5.690000e-05 0.00308341 -0.00211549" rpy="0 0 0" />
       <mass value="0.31317542" />
       <inertia ixx="1.077500e-04" ixy="-5.000000e-08" ixz="-3.000000e-07" iyy="9.336000e-05" iyz="4.500000e-07" izz="9.783000e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_elbow_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_elbow_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="l_elbow_joint" type="revolute">
     <origin xyz="0 0 -0.038" rpy="0 0 0" />
     <parent link="l_upper_arm_link" />
     <child link="l_elbow_link" />
     <axis xyz="0 1 0" />
     <limit lower="-2" upper="2" effort="10" velocity="15.91"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_wrist_link">
     <inertial>
       <origin xyz="3.045e-05 4.83e-06 -0.04078253" rpy="0 0 0" />
       <mass value="0.07518056" />
       <inertia ixx="0.00011809" ixy="0.0" ixz="1.2e-07" iyy="0.00011823" iyz="2e-08" izz="1.105e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_wrist_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_wrist_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="l_wrist_joint" type="fixed">
     <origin xyz="0 0 -0.029" rpy="0 0 0" />
     <parent link="l_elbow_link" />
     <child link="l_wrist_link" />
     <axis xyz="0 0 0" />
     <limit lower="0" upper="0" effort="0" velocity="0"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="head_yaw_link">
     <inertial>
       <origin xyz="0.0 0.0 0.02408163" rpy="0 0 0" />
       <mass value="0.20966327" />
       <inertia ixx="5.519000e-05" ixy="0.0" ixz="0.0" iyy="5.519000e-05" iyz="0.0" izz="5.081000e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/head_yaw_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0.0195" rpy="0 0 0"/>
       <geometry>
         <box size="0.035 0.04 0.035"/>
       </geometry>
     </collision>
   </link>
   <joint name="head_yaw_joint" type="revolute">
     <origin xyz="0.014 -0.00026667 0.1981" rpy="0 0 0" />
     <parent link="torso_link" />
     <child link="head_yaw_link" />
     <axis xyz="0 0 1" />
     <limit lower="-1.43" upper="1.43" effort="3.6" velocity="30.37"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="head_pitch_link">
     <inertial>
       <origin xyz="0.01222089 -0.00264278 0.06379456" rpy="0 0 0" />
       <mass value="0.48492459" />
       <inertia ixx="0.00144051" ixy="7.26e-06" ixz="-1.754e-05" iyy="0.00096481" iyz="-3.18e-06" izz="0.00181857" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/head_pitch_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/head_pitch_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="head_pitch_joint" type="revolute">
     <origin xyz="0 0 0.0275" rpy="0 0 0" />
     <parent link="head_yaw_link" />
     <child link="head_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-0.94" upper="0.88" effort="3.6" velocity="30.37"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="camera_link">
     <inertial>
       <origin xyz="0.00963743 0.00075253 0.00058537" rpy="0 0 0" />
       <mass value="0.0584" />
       <inertia ixx="7.259e-05" ixy="9.8e-07" ixz="0.0" iyy="5.53e-06" iyz="6e-08" izz="7.249e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/camera_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
   </link>
   <joint name="camera_joint" type="fixed">
     <origin xyz="0.03995 0.004457 0.063101" rpy="0 0 0" />
     <parent link="head_pitch_link" />
     <child link="camera_link" />
     <axis xyz="0 0 0" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_hip_pitch_link">
     <inertial>
       <origin xyz="7.92e-05 -0.03190261 9.097e-05" rpy="0 0 0" />
       <mass value="0.45931392" />
       <inertia ixx="0.00027163" ixy="1.14e-06" ixz="-6.6e-07" iyy="0.00026494" iyz="-4.1e-07" izz="0.00027956" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_hip_pitch_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_hip_pitch_link.STL" />
       </geometry>
     </collision>     
   </link>
   <joint name="r_hip_pitch_joint" type="revolute">
     <origin xyz="0 -0.0475 -0.0435" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="r_hip_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-1.76" upper="1.76" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_hip_roll_link">
     <inertial>
       <origin xyz="0.00102172 -0.00033797 -0.05845832" rpy="0 0 0" />
       <mass value="0.55820116" />
       <inertia ixx="0.00062111" ixy="-1.14e-06" ixz="-3.416e-05" iyy="0.00074025" iyz="-5.5e-07" izz="0.00041298" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_hip_roll_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_hip_roll_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="r_hip_roll_joint" type="revolute">
     <origin xyz="0 -0.034 0" rpy="0 0 0" />
     <parent link="r_hip_pitch_link" />
     <child link="r_hip_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-2.46" upper="0.17" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_thigh_link">
     <inertial>
       <origin xyz="0.00064557 -0.00075206 -0.02084055" rpy="0 0 0" />
       <mass value="0.15484273" />
       <inertia ixx="0.00018778" ixy="4.5e-07" ixz="-8.8e-07" iyy="0.00010058" iyz="-5.6e-07" izz="0.00016124" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_thigh_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_thigh_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="r_thigh_joint" type="revolute">
     <origin xyz="-0.00035 0 -0.0974" rpy="0 0 0" />
     <parent link="r_hip_roll_link" />
     <child link="r_thigh_link" />
     <axis xyz="0 0 1" />
     <limit lower="-2.87" upper="2.87" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_calf_link">
     <inertial>
       <origin xyz="-1.001e-05 -0.00237049 -0.06661243" rpy="0 0 0" />
       <mass value="0.85852308" />
       <inertia ixx="0.00416941" ixy="-6e-08" ixz="-9.9e-06" iyy="0.00414652" iyz="-5.94e-06" izz="0.00042931" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_calf_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_calf_link_simplify.STL" />
       </geometry>
     </collision>
     <collision>
       <origin xyz="0 0 -0.055" rpy="0 0 0" />
       <geometry>
         <box size="0.01 0.02 0.055"/> 
       </geometry>
     </collision>
   </link>
   <joint name="r_calf_joint" type="revolute">
     <origin xyz="0 0 -0.045" rpy="0 0 0" />
     <parent link="r_thigh_link" />
     <child link="r_calf_link" />
     <axis xyz="0 1 0" />
     <limit lower="-2.14" upper="2.35" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_ankle_pitch_link">
     <inertial>
       <origin xyz="0.00503044 0.00051345 -0.00016685" rpy="0 0 0" />
       <mass value="0.16352634" />
       <inertia ixx="0.00011538" ixy="4.2e-07" ixz="1.65e-06" iyy="0.00020824" iyz="-6.3e-07" izz="0.00028929" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_ankle_pitch_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <geometry>
         <mesh filename="../meshes/r_ankle_pitch_link.STL"/>
       </geometry>
     </collision>
   </link>
   <joint name="r_ankle_pitch_joint" type="revolute">
     <origin xyz="0 0 -0.14" rpy="0 0 0" />
     <parent link="r_calf_link" />
     <child link="r_ankle_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-0.92" upper="0.97" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_ankle_roll_link">
     <inertial>
       <origin xyz="0.0046213 8.211e-05 -0.01502099" rpy="0 0 0" />
       <mass value="0.61662552" />
       <inertia ixx="0.00054662" ixy="-8.4e-07" ixz="-0.00025529" iyy="0.00150792" iyz="8e-07" izz="0.0013343" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/r_ankle_roll_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <geometry>
         <mesh filename="../meshes/r_ankle_roll_link_simplify.STL"/>
       </geometry>
     </collision>
   </link>
   <joint name="r_ankle_roll_joint" type="revolute">
     <origin xyz="0.051 0 0" rpy="0 0 0" />
     <parent link="r_ankle_pitch_link" />
     <child link="r_ankle_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-0.78" upper="0.78" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_hip_pitch_link">
     <inertial>
       <origin xyz="7.920000e-05 0.03190261 9.097000e-05" rpy="0 0 0" />
       <mass value="0.45931392" />
       <inertia ixx="2.716300e-04" ixy="-1.140000e-06" ixz="-6.600000e-07" iyy="2.649400e-04" iyz="4.100000e-07" izz="2.795600e-04" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_hip_pitch_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_hip_pitch_link.STL" />
       </geometry>
     </collision>     
   </link>
   <joint name="l_hip_pitch_joint" type="revolute">
     <origin xyz="0 0.0475 -0.0435" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="l_hip_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-1.76" upper="1.76" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_hip_roll_link">
     <inertial>
       <origin xyz="0.00102172 3.379700e-04 -0.05845832" rpy="0 0 0" />
       <mass value="0.55820116" />
       <inertia ixx="6.211100e-04" ixy="1.140000e-06" ixz="-3.416000e-05" iyy="7.402500e-04" iyz="5.500000e-07" izz="4.129800e-04" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_hip_roll_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="../meshes/l_hip_roll_link.STL" />
        </geometry>
      </collision> 
   </link>
   <joint name="l_hip_roll_joint" type="revolute">
     <origin xyz="0 0.034 0" rpy="0 0 0" />
     <parent link="l_hip_pitch_link" />
     <child link="l_hip_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-0.17" upper="2.46" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_thigh_link">
     <inertial>
       <origin xyz="6.455700e-04 7.520600e-04 -0.02084055" rpy="0 0 0" />
       <mass value="0.15484273" />
       <inertia ixx="1.877800e-04" ixy="-4.500000e-07" ixz="-8.800000e-07" iyy="1.005800e-04" iyz="5.600000e-07" izz="1.612400e-04" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_thigh_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_thigh_link.STL" />
       </geometry>
     </collision>
   </link>
   <joint name="l_thigh_joint" type="revolute">
     <origin xyz="-0.00035 0 -0.0974" rpy="0 0 0" />
     <parent link="l_hip_roll_link" />
     <child link="l_thigh_link" />
     <axis xyz="0 0 1" />
     <limit lower="-2.87" upper="2.87" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_calf_link">
     <inertial>
       <origin xyz="-1.001000e-05 0.00237049 -0.06661243" rpy="0 0 0" />
       <mass value="0.85852308" />
       <inertia ixx="0.00416941" ixy="6.000000e-08" ixz="-9.900000e-06" iyy="0.00414652" iyz="5.940000e-06" izz="4.293100e-04" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_calf_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_calf_link_simplify.STL" />
       </geometry>
     </collision>
     <collision>
       <origin xyz="0 0 -0.055" rpy="0 0 0" />
       <geometry>
         <box size="0.01 0.02 0.055"/> 
       </geometry>
     </collision>
   </link>
   <joint name="l_calf_joint" type="revolute">
     <origin xyz="0 0 -0.045" rpy="0 0 0" />
     <parent link="l_thigh_link" />
     <child link="l_calf_link" />
     <axis xyz="0 1 0" />
     <limit lower="-2.14" upper="2.35" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_ankle_pitch_link">
     <inertial>
       <origin xyz="0.00503044 -5.134500e-04 -1.668500e-04" rpy="0 0 0" />
       <mass value="0.16352634" />
       <inertia ixx="1.153800e-04" ixy="-4.200000e-07" ixz="1.650000e-06" iyy="2.082400e-04" iyz="6.300000e-07" izz="2.892900e-04" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_ankle_pitch_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <geometry>
         <mesh filename="../meshes/l_ankle_pitch_link.STL"/>
       </geometry>
     </collision>
   </link>
   <joint name="l_ankle_pitch_joint" type="revolute">
     <origin xyz="0 0 -0.14" rpy="0 0 0" />
     <parent link="l_calf_link" />
     <child link="l_ankle_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-0.92" upper="0.97" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_ankle_roll_link">
     <inertial>
       <origin xyz="0.00462130 -8.211000e-05 -0.01502099" rpy="0 0 0" />
       <mass value="0.61662552" />
       <inertia ixx="5.466200e-04" ixy="8.400000e-07" ixz="-2.552900e-04" iyy="0.00150792" iyz="-8.000000e-07" izz="0.00133430" />
     </inertial>
     <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="../meshes/l_ankle_roll_link.STL" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <geometry>
         <mesh filename="../meshes/l_ankle_roll_link_simplify.STL"/>
       </geometry>
     </collision>
   </link>
   <joint name="l_ankle_roll_joint" type="revolute">
     <origin xyz="0.051 0 0" rpy="0 0 0" />
     <parent link="l_ankle_pitch_link" />
     <child link="l_ankle_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-0.78" upper="0.78" effort="21" velocity="7.12"/>
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
 </robot>